{% extends 'base.html' %} {% block scripts %} {{ block.super}}
<link rel="stylesheet" type="text/css" href="/static/css/site.css">
<link rel="stylesheet" type="text/css" href="/static/css/MatriculaOn.css">
<title>Faculdade Lorenzinni - Matrícula Online</title>
{% endblock %} {% block conteudo %}

<body>

	<div class="MatricBox">

		<div class="CadastroDiv">

			<h2> Faça sua matrícula </h2>

			<h3>Selecione as matérias que deseja cursar por módulo</h3>

			<form class="CadastroForm" method="POST">

        <div>
					<h2>Módulo1</h2>
					<form>
						<input type="checkbox" name="Materia1" value="Materia1">Segurança da Informação na Atualidade<br>
						<input type="checkbox" name="Materia2" value="Materia2">Governança em TI e em Segurança da Informação<br>
						<input type="checkbox" name="Materia3" value="Materia3">Normas e Auditoria em Segurança da Informação<br>
						<input type="checkbox" name="Materia4" value="Materia4">Gestão de Riscos em Segurança da Informação<br>
						<input type="checkbox" name="Materia5" value="Materia5">Direito Eletrônico (Aspectos legais em TI)<br>
					</form>
				</div>

				<div>
					<h2>Módulo2</h2>
					<form>
						<input type="checkbox" name="Materia1/2" value="Materia1/2">Soluções Tecnológicas em Segurança da Informação<br>
						<input type="checkbox" name="Materia2/2" value="Materia2/2">Segurança Física e Ambiental<br>
						<input type="checkbox" name="Materia3/2" value="Materia3/2">Ethical Hacking<br>
						<input type="checkbox" name="Materia4/2" value="Materia4/2">Classificação de informação e Tecnologias de Proteção à Perda de Dados (DLP)<br>
						<input type="checkbox" name="Materia5/2" value="Materia5/2">Investigação e Perícia Forense em meios informáticos<br>
						<input type="checkbox" name="Materia6/2" value="Materia6/2">Inteligência e Contrainteligência<br>
						<input type="checkbox" name="Materia7/2" value="Materia7/2">Resposta a Incidentes em Segurança da Informação<br>
						<input type="checkbox" name="Materia8/2" value="Materia8/2">Gestão de Crise, Continuidade e Contingenciamento de Negócios<br>
						<input type="checkbox" name="Materia9/2" value="Materia9/2">Cybersecurity, Cyberwar e Homeland Security<br>
						<input type="checkbox" name="Materia10/2" value="Materia10/2">Tendências em Segurança da Informação<br>
					</form>
				</div>

				<div>
					<h2>Módulo3</h2>
					<form>
						<input type="checkbox" name="Materia1/3" value="Materia1/3">Gestão Segura de Ambientes Terceirizados<br>
						<input type="checkbox" name="Materia2/3" value="Materia2/3">Práticas de Segurança Requeridas pelo Negócio<br>
					</form>
				</div>

				<div>
					<h2>Módulo4</h2>
					<form>
						<input type="checkbox" name="Materia1/4" value="Materia1/4">Gestão Segura de Ambientes Terceirizados<br>
						<input type="checkbox" name="Materia2/4" value="Materia2/4">Empreendedorismo e Inovação<br>
					</form>
				</div>
				<button class="botaoCadastro" type="submit">Cadastrar</button><br/>

			</form>

		</div>

	</div>
</body>

{% endblock %}
